.loading {
  height: 30px;
}
.content {
    padding-right: 15px;
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
}   

#statistic {
  /*height: auto;*/
  height: 400px;
  overflow: scroll;
}

.json {
    color: red;
}

.btn-circle {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}